<app-nav-usuario></app-nav-usuario>

<div class="banner">
    <div class="contenido">
     <h1>BIBLIOTECA  SALVATORE</h1>
     <p>Vive, recuerda y sueña con cada palabra.</p>
     <div>
       <a href=""  routerLinkActive="router-link-active" ><button type="button" class="botones">Libros</button></a>
       
     </div>
    </div>
   </div>




   <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Bienvenido! <br> Buscas algo que leer?</h2>
      <p class="lead">Encuentra tus titulos favoritos.</p>

      <img src="/assets/librodamian-removebg-preview.png">

    </div>
  </div>


  <div class="separator">
    <hr class="line">
    <p>Visitanos</p>
    <hr class="line">
  </div>
  <div class="cont">
    <div class="imagenes">
      <img src="/assets/west.jpeg" alt="...">
      <img src="/assets/west3.jpeg" alt="...">
      <img src="/assets/cami.jpeg" alt="...">
    </div>
  </div>
  
  <div class="separator">
    <hr class="line">
    <p></p>
    <hr class="line">
  </div>

<h1 class="titulos">Mira nuestros titulos disponibles</h1>
  <div class="cards">
    <div class="cont-cards">
      <img src="/assets/coraline.jpg">
      <h3>Coraline</h3>
      <p>Fantasia</p>

    </div>
  </div>

  <div class="cards">
    <div class="cont-cards">
      <img src="/assets/nemesis.jpg">
      <h3>Nemesis</h3>
      <p>Ciencia ficcion</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
       <img src="/assets/coraline.jpg">
    </div>
    <div class="category">  </div> 
    <div class="heading">Coraline
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>

 