
<app-nav-admin></app-nav-admin>
<form class="form">
    <span class="signup">Biblioteca Salvatore</span>

    <span class="title">REGISTRO DE LIBROS</span>


    <div class="separator">
        <hr class="line">
        <p>idlibro</p>
        <hr class="line">
      </div>
      <div class="input-group mb-3">
        <input  id="idlibro" name="idlibro" type="text" class="form-control" placeholder="idlibro" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalLibros"><i class="fas fa-search"></i></button>
        </div>
      </div>

      <div class="separator">
        <hr class="line">
        <p>nombre</p>
        <hr class="line">
      </div>
        <input type="text" class="input" placeholder="nombre" class="form--input" required>
       
        
      <div class="separator">
        <hr class="line">
        <p>autor</p>
        <hr class="line">
      </div>
        <input type="text" class="input" placeholder="autor" class="form--input">

        
      <div class="separator">
        <hr class="line">
        <p>género</p>
        <hr class="line">
      </div>
        <input type="text" class="input" placeholder="genero" class="form--input" required>

        
      <div class="separator">
        <hr class="line">
        <p>editorial</p>
        <hr class="line">
      </div>
        <input type="text" class="input" placeholder="editorial" class="form--input" required>

        
      <div class="separator">
        <hr class="line">
        <p>estado</p>
        <hr class="line">
      </div>
        <input type="text" class="input" placeholder="estado" class="form--input" required> 
       
        
      <div class="separator">
        <hr class="line">
        <p>estante</p>
        <hr class="line">
      </div>
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="Estante" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalEstante"><i class="fas fa-search"></i></button>
            </div>
          </div>

    <button class="form--submit">
        Registrar
    </button>
</form>







<!-- Modal libros -->
<div class="modal fade bd-example-modal-lg" id="modalLibros" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">idlibro</th>
            <th scope="col">Nombre</th>              
            <th scope="col">Autor</th>              
            <th scope="col">Genero</th>              
            <th scope="col">Editorial</th>              
            <th scope="col">Estado</th>              
            <th scope="col">Estante</th>              
          </tr>
        </thead>
        <tbody >
          <tr>
            <th scope="row">
              <a [routerLink]=""  data-dismiss="modal"></a>
            </th>
            <td><a [routerLink]=""  data-dismiss="modal"></a></td>
          </tr>
          
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modalEstante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estantes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">idestante</th>
              <th scope="col">Nombre</th>              
              <th scope="col">genero_libro</th>              
            </tr>
          </thead>
          <tbody >
            <tr>
              <th scope="row">
                <a [routerLink]=""  data-dismiss="modal"></a>
              </th>
              <td><a [routerLink]=""  data-dismiss="modal"></a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>