<app-nav-admin></app-nav-admin>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">idlibro</th>
        <th scope="col">Nombre</th>              
        <th scope="col">Autor</th>              
        <th scope="col">Genero</th>              
        <th scope="col">Editorial</th>              
        <th scope="col">Estado</th>              
        <th scope="col">Estante</th>              
      </tr>
    </thead>
    <tbody >
      <tr>
        <th scope="row">
          <a [routerLink]="" data-dismiss="modal"></a>
        </th>
        <td><a [routerLink]=""  data-dismiss="modal"></a></td>
        <td><a [routerLink]=""  data-dismiss="modal"></a></td>
        <td><a [routerLink]=""  data-dismiss="modal"></a></td>
        <td><a [routerLink]=""  data-dismiss="modal"></a></td>
        <td><a [routerLink]=""  data-dismiss="modal"></a></td>
        <td><a [routerLink]=""  data-dismiss="modal"></a></td>
      </tr>
      
    </tbody>
  </table>