<div class="fondo">

    <div class="form">
       <p class="title">Biblioteca Salvatore</p>
   
       <p class="login">Login</p>
   
       <input type="text" class="input" placeholder="username" class="form--input" required>
       <input type="password" class="input" placeholder="password" class="form--input" required> 
   
   
       <p class="signup">Aún no te has registrado?
           <a rel="noopener noreferrer" href="" [routerLink]="['/registro']">Registrarse</a>
       </p>
   
       <button class="btn">Iniciar sesion</button>
   </div>
   
   
   </div>