
<div class="sidebar">
  <ul>
    <li>
      <i class="bi bi-house"></i>
      <a href="" [routerLink]="['/home-admin']"> Home</a>
    </li>

    <li>
      <i class="bi bi-bookmark-check"></i>
      <a href="" [routerLink]="['/registrar-libro']"> Registrar libro</a>
    </li>

    <li>
      <i class="bi bi-book"></i>
      <a href="" [routerLink]="['/prestar-libro']"> Prestar libro</a>

    </li>

    <li>
      <i class="bi bi-book"></i>
    </li> 
    
    <li>
      <i class="bi bi-person-circle"></i>
      <a href="" [routerLink]="['/usuarios']"> Usuarios</a>
    </li>
  </ul>
</div>


